.prod {
  padding-top: 120px;
}
.prod-from {
  font-weight: 539;
  font-size: 14px;
  line-height: 17px;
  color: #6c757d;
}
.prod-from span {
  color: #1e1e1e;
}
.prod-show {
  margin-top: 20px;
  margin-bottom: 60px;
}
.prod-one {
  padding: 40px;
}
.prod-img {
  width: 100%;
  padding: 55px 80px 120px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
}
.prod-img img {
  display: block;
  width: 100%;
}
.prod-img-select {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.prod-img-box {
  width: 105px;
  background: #ffffff;
  border-radius: 4px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.prod-img-box.selected {
  border: 1px solid var(--blue);
}
.prod-title {
  font-weight: 591;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;
}
.prod-color {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  cursor: pointer;
}
.prod-color-title {
  font-weight: 591;
  font-size: 18px;
  line-height: 22px;
  color: #6c757d;
  margin-left: 75px;
}
.prod-colors {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}
.prod-colors-title {
  font-weight: 591;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 17px;
}
.prod-color.selected {
  border: 1px solid var(--blue);
}
.prod-price {
  font-weight: 591;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 12px;
}
.prod-price-reduce {
  font-weight: 591;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
  color: var(--blue);
}
.prod-buy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.prod-buy svg {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 20px;
}
.prod-month {
  background: #ffffff;
  font-weight: 591;
  font-size: 18px;
  line-height: 22px;
  padding: 16px 20px;
  cursor: pointer;
}
.prod-month.selected {
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 8px;
}
.prod-month-wrapper {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}
.prod-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 15px 0 !important;
  display: block;
  width: 100%;
}
.prod-btn a {
  color: #fff !important;
  display: block;
  width: 100%;
}
.prod-des {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}
.prod-des div {
  display: flex;
  align-items: center;
}
.prod-des div p {
  font-weight: 591;
  font-size: 18px;
  line-height: 22px;
  color: #6c757d;
}
.prod-des div p span {
  color: var(--body-color);
}
.prod-des div p span.price {
  color: #2cb708;
}
.prod-des div p span.link {
  color: var(--blue);
  text-decoration: underline;
}
.prod-des div svg {
  width: 20px;
  height: auto;
  display: block;
  margin-right: 20px;
}
.prod-box {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 60px;
}
.prod-box table {
  align-items: center;
}
.prod-box table h5 {
  font-weight: 591;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
  margin-top: 23px;
}
.prod-box table td {
  align-content: center;
  vertical-align: middle;
}
.prod-box table p {
  font-weight: 539;
  font-size: 14px;
  line-height: 17px;
  max-width: 372px;
  width: 100%;
}
.prod-box table img {
  width: 60px;
}
.prod-box table h4 {
  font-weight: 653;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}
.prod-box table span {
  font-weight: 539;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #2cb708;
}
.prod-box table span.blue {
  color: var(--blue);
}
.prod-box table .mutes {
  font-weight: 539;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #6c757d;
}
.prod-box table .code {
  font-weight: 653;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #1e1e1e;
}
.prod-label {
  font-weight: 539;
  font-size: 14px;
  line-height: 17px;
  color: #333232;
}

.see-more a {
  transition: var(--transition);
  padding: 10px 30px;
  font-weight: 539;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--blue);
  background: #ecf4ff;
  border-radius: 10px;
}/*# sourceMappingURL=inner-product.css.map */